body {
    height: 100vh;
    margin: 0px;
    font-family: roboto, sans-serif;
}

.header {
    background: #4059ad;
    display:flex;
    flex-direction: column;
    padding: 16px 100px;
}

.logo {
    height:72px;
    width:auto;
}

a {
    color: white;
    text-decoration: none;
}

.top-line {
    display:flex;
    height:72px;
    justify-content: space-between;
    margin:0px;
}

ul {
    list-style-type: none;
    display:flex;
    gap: 32px;
    align-items: center;
}

.welcome {
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.secondary {
    display:flex;
    justify-content: space-between;
    padding: 100px;
    background: #4059ad;
    gap: 32px;
}

.secondary-text {
    display:flex;
    flex-direction: column;
    gap:16px;
}

.message{
    border-radius: 25px;
    width:100px;
    height:25px;
    background-color: #ad9440;
    color:white;
    border-width: 0px;
}

.top-photo {
    display:flex;
    width:400px;
    height:auto;
    border: 5px solid #ad9440;
    border-radius: 25px;
}

.third {
    display:flex;
    flex-direction:column;
    padding:50px;
}

.third-title {
    font-size: 32px;
    font-weight: bold;
    color: #4059ad;
    display:flex;
    justify-content: center;
    margin: 32px;
}

.pictures {
   display:flex;
   justify-content: center;
   gap: 64px;
   flex-wrap:wrap;
}

.picture {
    width: 200px;
    height: "auto";
    border: 5px solid #ad9440;
    border-radius: 25px;
}

.caption {
    width:200px;
    color: #4059ad;
    margin:10px;
    text-align:center;
    float:left;
}

.fourth {
    display:flex;
    flex-direction: column;
    height:150px;
    background-color: #e5e7eb;
    padding:64px;
    justify-content:center;
    flex-wrap:wrap;
}

.quote {
    display:flex;
    font-size:36px;
    font-style:italic;
    font: light italic;
    color: #1f2937;
    background-color:#e5e7eb;
    justify-content: center;
}

.author {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    margin-top:32px;

}